.pink-banner {
  --main-color: #ff007c;
  --secondary-color: #ff8fc6;
}

.blue-banner {
  --main-color: #2c6ce2;
  --secondary-color: #b5c9ef;
}

.purple-banner {
  --main-color: #9a47c7;
  --secondary-color: #c99ce1;
}

.green-banner {
  --main-color: #2ce02c;
  --secondary-color: #8dee8d;
}

.orange-banner {
  --main-color: #ff8d2c;
  --secondary-color: #ffc28e;
}
