@font-face {
  font-family: grandis;
  src: url(Fonts/GrandisExtended-Black.ttf);
}

@font-face {
  font-family: keep-calm;
  src: url(Fonts/KeepCalm-Medium.ttf);
}

@font-face {
  font-family: cafe;
  src: url(Fonts/Louis\ George\ Cafe\ Light.ttf);
}

@font-face {
  font-family: cafe;
  src: url(Fonts/Louis\ George\ Cafe\ Light\ Italic.ttf);
  font-style: italic;
}
