@import "./fonts.css";

/* Select box */
.filter-wrapper {
  display: flex;
  width: 100%;
}

.filter-wrapper > * + * {
  margin-left: 15px;
}

.custom-select {
  min-width: 150px;
}

.custom-select select {
  width: 100%;
}

/* Timeline */

#timeline-wrapper {
  display: flex;
  align-items: flex-end;

  height: 600px;
  overflow: auto hidden;
}

object {
  min-width: 1000px;
  height: 600px;
}

object html {
  overflow: auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 65%); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 700px;
  position: relative;
}

.modal-content p {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* The Close Button */
.close {
  position: absolute;
  right: 10px;
  top: 5px;

  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Crossfading image transition */
@keyframes cf3FadeInOut {
  /* distributing times evenly */
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#myModal img {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  /* if you only want to cycle a finite amount of times, 
 simply change 'infinite' with # of iterations you need */
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate; /* not strictly necessary */
  position: absolute;

  max-width: 1000px;
}

#myModal img:nth-of-type(1) {
  animation-delay: 9s;
}

#myModal img:nth-of-type(2) {
  animation-delay: 6s;
}

#myModal img:nth-of-type(3) {
  /* add some delay for the first picture as well */
  animation-delay: 3s;
}
